# Archive files
archive/**

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Build Products
cream.armv7l
cream.armv6l
dist/aa-cream_1.0-1/opt/austrianAudio/bin/cream.armv7l
dist/aa-cream_1.0-1/opt/austrianAudio/bin/cream.armv6l
main.luastatic.c
dist/aa-cream_1.0-1.deb
dist/local/bin/**
